
.main-content {
    position: fixed;
    top: 18%;
}

.logo-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(5,5,5,0.15);
    height: 2.5em;
    width: 100%;
}

#titulo {
    display: inline-block;
    font-family: 'Pacifico', cursive;
}

.forms-container {
    position: relative;
    margin: auto;
    margin-top: 30px;
}

#change-anchor {
    color: white;
    text-decoration: white;
    text-decoration-line: underline;
}

.success-alert {
    position: fixed;
    /* position: relative; */
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
}
.loader {
    display: none;
    position: fixed;
    padding: 20px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #3498db;
    /* border-top: 3px solid #B04632; */
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);     
        box-shadow: 0px 0px 1px rgb(219, 156, 156);
    }
    50% {
        box-shadow: 0px 0px 7px rgb(219, 156, 156);
    }
    100% { 
        box-shadow: 0px 0px 1px rgb(219, 156, 156);
        transform: rotate(360deg); 
    }
}