body {
    /* background-color: rgba(137, 96, 158, 1); */
    background-color: #B04632;
    /* background-color: rgb(199, 211, 31); */
    color: white !important;}

.navbar-top {
    background-color: rgba(5,5,5,0.15);
    height: 2.5em;
}

.navbar .left-items {
    position: fixed;
    left: 1px;
}

.navbar .right-items {
    position: fixed;
    right: 1px;
}

.navbar a{
    position: relative;
    top: -0.2em;
    font-weight: bold;
}

#pesquisar {
    outline: none;
    border-style: none;
    box-sizing: border-box;
    margin: 4px 2px 4px 2px;
    width: 175px;
    padding: 4px;
    border-radius: 2.5px;
    background-color: rgba(250, 250, 250, 0.3);
}

#pesquisar::placeholder {
    font-family: 'FontAwesome';
    color: white;
    text-align: right;
    position: relative;
    right: 3px;
}

#pesquisar:hover {
    background-color: rgba(250, 250, 250, 0.5);
}

.t-item {
    position: relative;
    margin: 4px 2px 4px 2px;
    border-radius: 2.5px;
    background-color: rgba(250, 250, 250, 0.3);
    height: 2em;
}

.t-item a{
    position: relative;
    top: -0.2em;
    font-weight: bold;
    color: white;
}

.t-item:hover {
    background-color: rgba(250, 250, 250, 0.15);
}

.fab {
    margin-right: 10px;
}

#trella-title {
    position: fixed;
    text-align: center;
    left: 50%;
    margin-left: -2em;
    font-family: 'Pacifico', cursive;
    color: rgba(250, 250, 250, 0.6);
    font-size: 20px;
}

#trella-title i{
    margin-right: 0;
}

#trella-title:hover{
    color: rgba(250, 250, 250, 0.87);
    cursor: pointer;
}

.user-thumbnail {
    position: relative;
    margin: 4px 2px 4px 2px;
    height: 2em;
}

.user-thumbnail:hover {
    cursor: pointer;
} 

.main-content {
    position: fixed;
    top: 5.3em;
    left: 5px;
    max-height: 100%;
    overflow-x: auto;
}

.table-name {
    position: relative;
    margin: 4px 1px 4px 2px;
    padding: 1px 10px 0px 10px;
    max-height: 2em;
    font-weight: bold;
    font-size: 1.1em;
}

.table-name:hover {
    border-radius: 2.5px;
    background-color: rgba(250, 250, 250, 0.3);
    cursor: pointer;
}

.tools {
    position: fixed;
    top: 2.25em;
    left: 0px;
}

.divider {
    position: relative;
    top: 12.5px;
    border-left: 1px solid rgba(250, 250, 250, 0.3);
    height: 15px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}

#board-type, #visibility, #invite, #show-menu {
    font-size: 15px;
    font-weight: 80;
    padding-left: 11px;
    padding-right: 11px;
}

#visibility::before {
    font-family: fontawesome;
    content: '\f023';
    font-size: 12px;
    margin-right: 10px;
}

#show-menu::before {
    font-family: fontawesome;
    content: '\f141';
    font-size: 12px;
    margin-right: 10px;
}

#add-list {
    height: 39px;
    min-width: 280px;
}

#add-list a{
    font-size: 15px;
    font-weight: 80;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 11px;
}

#add-list a::before{
    font-family: fontawesome;
    content: '\f067';
    font-size: 12px;
    margin-right: 10px;   
}
